<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <title>Todo App With Vue2</title>

    <style>
      body {
        padding: 50px;
      }
      .delete-position {
        position: absolute;
        right: 70px;
      }
      .completed {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <div id="app-root">
      <nav class="panel">
        <p class="panel-heading">Todos</p>
        <form @submit.prevent="addTodo">
          <div class="panel-block">
            <input
              class="input"
              v-model="newTodo"
              type="text"
              name="newTodo"
              id="newTodo"
              value=""
              placeholder="Add todo"
            />
            <button
              type="submit"
              class="button is-primary"
              style="position: absolute; right: 62px"
            >
              Add Todo
            </button>
          </div>
        </form>
        <ul>
          <li v-for="todo in todos">
            <div v-if="all">
              <label class="panel-block">
                <input type="checkbox" v-model="todo.completed" />
                <span :class="{ completed: todo.completed }"
                  >{{todo.title}}</span
                >

                <button
                  @click="removeTodo(todo)"
                  class="delete"
                  style="position: absolute; right: 70px"
                ></button>
              </label>
            </div>

            <div v-else-if="active">
              <label v-if="!todo.completed" class="panel-block">
                <input type="checkbox" v-model="todo.completed" />
                <span :class="{ completed: todo.completed }"
                  >{{todo.title}}</span
                >

                <button
                  @click="removeTodo(todo)"
                  class="delete"
                  style="position: absolute; right: 70px"
                ></button>
              </label>
            </div>

            <div v-else-if="completed">
              <label v-if="todo.completed" class="panel-block">
                <input type="checkbox" v-model="todo.completed" />
                <span :class="{ completed: todo.completed }"
                  >{{todo.title}}</span
                >

                <button
                  @click="removeTodo(todo)"
                  class="delete"
                  style="position: absolute; right: 70px"
                ></button>
              </label>
            </div>
          </li>
        </ul>

        <div class="panel-block is-centered">
          <div class="columns">
            <div class="column">
              <button
                @click="allTodos"
                class="button is-link is-outlined is-fullwidth"
              >
                All
              </button>
            </div>
            <div class="column">
              <button
                @click="activeTodos"
                class="button is-link is-outlined is-fullwidth"
              >
                Active
              </button>
            </div>
            <div class="column">
              <button
                @click="completedTodos"
                class="button is-link is-outlined is-fullwidth"
              >
                Completed
              </button>
            </div>
            <div class="column">
              <button
                @click="allDone"
                type="button"
                class="button is-link is-outlined is-fullwidth"
              >
                All Done
              </button>
            </div>
            <div class="column">
              <button
                @click="clearAllCompleted"
                class="button is-link is-outlined is-fullwidth"
              >
                Clear Completed
              </button>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
